.container {
  max-width: 1250px; }

.block-views-blockhomepage-services-block-1 {
  text-transform: uppercase; }
  .block-views-blockhomepage-services-block-1 h2 {
    margin-bottom: 95px;
    text-align: center;
    font-weight: 600;
    background-color: #ffffff; }
    .block-views-blockhomepage-services-block-1 h2:before {
      display: block;
      content: '';
      border: 1px solid #CCCCCC;
      width: 41.6%;
      position: relative;
      top: 14px; }
    .block-views-blockhomepage-services-block-1 h2:after {
      display: block;
      content: '';
      border: 1px solid #CCCCCC;
      width: 41.6%;
      position: relative;
      text-align: end;
      top: -22px;
      margin-left: auto; }
  .block-views-blockhomepage-services-block-1 .form-group .view-content {
    display: flex;
    text-align: center; }
    .block-views-blockhomepage-services-block-1 .form-group .view-content h2 {
      display: none; }
    .block-views-blockhomepage-services-block-1 .form-group .view-content .content {
      padding: 0 10px; }
      .block-views-blockhomepage-services-block-1 .form-group .view-content .content .field--name-field-services-photo {
        display: flex;
        justify-content: center;
        margin-bottom: 35px; }
      .block-views-blockhomepage-services-block-1 .form-group .view-content .content .field--name-field-taxonom {
        margin-bottom: 20px; }
        .block-views-blockhomepage-services-block-1 .form-group .view-content .content .field--name-field-taxonom a {
          color: #373645;
          text-decoration: none;
          font-size: 20px; }
      .block-views-blockhomepage-services-block-1 .form-group .view-content .content .field--type-text-with-summary {
        color: #CCCCCC;
        font-size: 12px; }
      .block-views-blockhomepage-services-block-1 .form-group .view-content .content .field--name-extra-field-readmore-extrafield {
        margin-top: 30px;
        display: flex;
        justify-content: center; }
        .block-views-blockhomepage-services-block-1 .form-group .view-content .content .field--name-extra-field-readmore-extrafield a {
          text-decoration: none;
          color: #ffffff;
          background-color: #6E9BCA;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 30px; }

.block-views-blockhomepage-projects-block-1 {
  text-transform: uppercase; }
  .block-views-blockhomepage-projects-block-1 h2 {
    margin-bottom: 25px;
    margin-top: 95px;
    text-align: center;
    text-align: center;
    font-weight: 600;
    background-color: #ffffff; }
    .block-views-blockhomepage-projects-block-1 h2:before {
      display: block;
      content: '';
      border: 1px solid #CCCCCC;
      width: 41.6%;
      position: relative;
      top: 14px; }
    .block-views-blockhomepage-projects-block-1 h2:after {
      display: block;
      content: '';
      border: 1px solid #CCCCCC;
      width: 41.6%;
      position: relative;
      text-align: end;
      top: -22px;
      margin-left: auto; }
  .block-views-blockhomepage-projects-block-1 .form-group {
    padding-top: 70px;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #DDDCDD 11px, #DDDCDD 11px); }
    .block-views-blockhomepage-projects-block-1 .form-group .view-content {
      display: flex;
      text-align: center; }
      .block-views-blockhomepage-projects-block-1 .form-group .view-content h2 {
        display: none; }
      .block-views-blockhomepage-projects-block-1 .form-group .view-content .content {
        margin: 0 10px;
        background-color: #ffffff;
        border-bottom: 1px solid #373645;
        padding-bottom: 10px; }
        .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-field-image {
          display: flex;
          justify-content: center;
          margin-bottom: 40px; }
        .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-field-taxonom {
          margin-bottom: 20px; }
          .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-field-taxonom a {
            text-decoration: none;
            font-size: 12px; }
            .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-field-taxonom a[href="/taxonomy/term/1"] {
              color: #1BBC9B; }
            .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-field-taxonom a[href="/taxonomy/term/3"] {
              color: #9F5FB7; }
            .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-field-taxonom a[href="/taxonomy/term/2"] {
              color: #E84C3D; }
            .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-field-taxonom a[href="/taxonomy/term/4"] {
              color: #32ADE1; }
        .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-field-projects-name {
          color: #373645;
          font-size: 20px; }
        .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-extra-field-readmore-extrafield {
          margin-top: 30px;
          display: flex;
          justify-content: center; }
          .block-views-blockhomepage-projects-block-1 .form-group .view-content .content .field--name-extra-field-readmore-extrafield a {
            text-decoration: none;
            line-height: 0;
            color: #ffffff;
            background-color: #373645;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            height: 30px; }
    .block-views-blockhomepage-projects-block-1 .form-group .pager-nav .pagination {
      display: flex;
      justify-content: center;
      padding-bottom: 150px;
      margin-top: 50px; }
      .block-views-blockhomepage-projects-block-1 .form-group .pager-nav .pagination > li > a {
        background-color: inherit;
        border-radius: 50%;
        border: none;
        font-size: 14px;
        color: #646464;
        font-weight: 700; }
        .block-views-blockhomepage-projects-block-1 .form-group .pager-nav .pagination > li > a:hover {
          background-color: #DDDCDD;
          color: #ffffff; }
      .block-views-blockhomepage-projects-block-1 .form-group .pager-nav .pagination .active a {
        background-color: #DDDCDD; }

.block-views-blockour-team-block-1 {
  text-transform: uppercase;
  text-align: center; }
  .block-views-blockour-team-block-1 h2 {
    text-align: center;
    font-weight: 600;
    background-color: #ffffff;
    margin-top: 100px;
    margin-bottom: 40px; }
    .block-views-blockour-team-block-1 h2:before {
      display: block;
      content: '';
      border: 1px solid #CCCCCC;
      width: 41.6%;
      position: relative;
      top: 14px; }
    .block-views-blockour-team-block-1 h2:after {
      display: block;
      content: '';
      border: 1px solid #CCCCCC;
      width: 41.6%;
      position: relative;
      text-align: end;
      top: -22px;
      margin-left: auto; }
  .block-views-blockour-team-block-1 .form-group .view-content {
    display: flex;
    text-align: center; }
    .block-views-blockour-team-block-1 .form-group .view-content .views-row {
      margin-right: 30px; }
      .block-views-blockour-team-block-1 .form-group .view-content .views-row:last-child {
        margin-right: 0; }
      .block-views-blockour-team-block-1 .form-group .view-content .views-row h2 {
        display: none; }
      .block-views-blockour-team-block-1 .form-group .view-content .views-row .content {
        display: flex;
        flex-direction: column; }
        .block-views-blockour-team-block-1 .form-group .view-content .views-row .content .field--name-field-first-name-last-name {
          font-size: 20px;
          color: #373645;
          margin-top: 40px; }
        .block-views-blockour-team-block-1 .form-group .view-content .views-row .content .field--name-field-position a {
          text-decoration: none;
          color: #CCCCCC;
          font-size: 12px; }
        .block-views-blockour-team-block-1 .form-group .view-content .views-row .content .field--name-extra-field-readmore-extrafield {
          margin-top: 20px;
          display: flex;
          justify-content: center; }
          .block-views-blockour-team-block-1 .form-group .view-content .views-row .content .field--name-extra-field-readmore-extrafield a {
            text-decoration: none;
            line-height: 0;
            color: #ffffff;
            background-color: #373645;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 30px; }
        .block-views-blockour-team-block-1 .form-group .view-content .views-row .content .social-media-links--platforms {
          margin-top: 22px;
          margin-left: 45px;
          width: 50%;
          display: flex; }
          .block-views-blockour-team-block-1 .form-group .view-content .views-row .content .social-media-links--platforms li {
            margin-right: 10px; }
        .block-views-blockour-team-block-1 .form-group .view-content .views-row .content .flag-like {
          align-self: end;
          width: 30px;
          display: block;
          position: relative;
          margin-right: 45px;
          bottom: 42px; }
          .block-views-blockour-team-block-1 .form-group .view-content .views-row .content .flag-like a {
            font-size: 20px;
            text-decoration: none; }

.block-views-blockhomepage-news-block-1 {
  text-transform: uppercase; }
  .block-views-blockhomepage-news-block-1 > h2 {
    text-align: center;
    font-weight: 600;
    background-color: #ffffff; }
    .block-views-blockhomepage-news-block-1 > h2:before {
      display: block;
      content: '';
      border: 1px solid #CCCCCC;
      width: 41.6%;
      position: relative;
      top: 14px; }
    .block-views-blockhomepage-news-block-1 > h2:after {
      display: block;
      content: '';
      border: 1px solid #CCCCCC;
      width: 41.6%;
      position: relative;
      text-align: end;
      top: -22px;
      margin-left: auto; }
  .block-views-blockhomepage-news-block-1 .form-group .view-content {
    display: flex;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, #DDDCDD 11px, #DDDCDD 11px); }
    .block-views-blockhomepage-news-block-1 .form-group .view-content .views-row h2 {
      display: none; }
    .block-views-blockhomepage-news-block-1 .form-group .view-content .views-row .content .layout--threecol-section .layout__region--first {
      text-align: center;
      max-width: 90px; }
      .block-views-blockhomepage-news-block-1 .form-group .view-content .views-row .content .layout--threecol-section .layout__region--first .block:nth-child(1) {
        font-size: 20px;
        color: #373645;
        margin-bottom: -10px; }
      .block-views-blockhomepage-news-block-1 .form-group .view-content .views-row .content .layout--threecol-section .layout__region--first .block:nth-child(2) {
        font-size: 35px;
        color: #6E9BCA;
        margin-bottom: -10px; }
      .block-views-blockhomepage-news-block-1 .form-group .view-content .views-row .content .layout--threecol-section .layout__region--first .block:nth-child(3) {
        font-size: 12px;
        color: #CCCCCC; }
    .block-views-blockhomepage-news-block-1 .form-group .view-content .views-row .content .layout--threecol-section .layout__region--second {
      display: flex;
      font-size: 12px;
      max-width: 500px; }
      .block-views-blockhomepage-news-block-1 .form-group .view-content .views-row .content .layout--threecol-section .layout__region--second .field--name-field-who-writer {
        color: #CCCCCC;
        margin-right: 5px; }
      .block-views-blockhomepage-news-block-1 .form-group .view-content .views-row .content .layout--threecol-section .layout__region--second .field--name-field-taxonom {
        color: #6E9BCA; }
    .block-views-blockhomepage-news-block-1 .form-group .view-content .views-row .content .layout--threecol-section .layout__region--third {
      color: #CCCCCC; }

.fa {
  background-color: #6E9BCA;
  color: #ffffff;
  width: 25px;
  height: 25px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.footer {
  border-top: none;
  background-color: #373645;
  height: 190px;
  display: flex;
  align-items: center; }
  .footer .container .region-footer {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.navbar-default {
  background-image: url("../src/header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  min-height: 700px; }
  .navbar-default .container .navbar-header {
    width: 100%; }
    .navbar-default .container .navbar-header .region-navigation {
      display: flex;
      background-color: #ffffff;
      align-items: center; }
      .navbar-default .container .navbar-header .region-navigation .block-block-content .field--name-body {
        padding: 35px; }
      .navbar-default .container .navbar-header .region-navigation .logo {
        margin-left: 15px; }
      .navbar-default .container .navbar-header .region-navigation .menu--main {
        text-transform: uppercase; }
        .navbar-default .container .navbar-header .region-navigation .menu--main li a {
          font-size: 12px;
          padding: 10px; }
      .navbar-default .container .navbar-header .region-navigation .search-block-form .input-group input {
        border-radius: 0; }
        .navbar-default .container .navbar-header .region-navigation .search-block-form .input-group input::placeholder {
          color: transparent; }
      .navbar-default .container .navbar-header .region-navigation .search-block-form .input-group .input-group-btn .btn-primary {
        color: #CCCCCC;
        background-color: #ffffff;
        border-color: #CCCCCC;
        border-radius: 0;
        height: 34px; }

#block-creativity {
  position: absolute;
  bottom: 350px;
  left: 150px;
  text-transform: uppercase; }
  #block-creativity .field--name-body {
    display: flex;
    flex-direction: column;
    max-width: 330px; }
    #block-creativity .field--name-body p:nth-child(1) {
      font-size: 50px;
      color: #ffffff;
      margin-bottom: -20px; }
    #block-creativity .field--name-body p:nth-child(2) {
      font-size: 30px;
      color: #373645;
      margin-bottom: -5px; }
    #block-creativity .field--name-body p:nth-child(3) {
      font-size: 12px;
      color: #6E9BCA; }

body {
  margin-top: 0; }

header .block-block-content .field--name-body, footer .block-block-content .field--name-body {
  background-color: #373645; }
  header .block-block-content .field--name-body p, footer .block-block-content .field--name-body p {
    text-align: center;
    font-size: 30px; }
    header .block-block-content .field--name-body p:first-child, footer .block-block-content .field--name-body p:first-child {
      color: #6e9bca;
      font-size: 30px;
      margin-bottom: 0;
      font-weight: 700; }
    header .block-block-content .field--name-body p:last-child, footer .block-block-content .field--name-body p:last-child {
      color: #e4e4e6;
      font-size: 15px; }
