.navbar-default{
  background-image: url("../src/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  min-height: 700px;
  .container{
    display: flex;
    margin-top: 50px;
    .navbar-header{
      //width: 100%;
      .navbar-toggle{
        //position: absolute;
        right: 0;
        bottom: 100px;
        z-index: 5;
      }
      .region-navigation{
        display: flex;
        background-color: $white;
        align-items: center;
        .block-block-content .field--name-body{
          padding: 35px;
          width: 217px;
        }
        .logo{
          margin-left: 15px;
        }
        .menu--main{
          text-transform: uppercase;
          li{
            a{
              font-size: $small;
              padding: 10px;
            }
          }
        }
        .search-block-form{
          .input-group{
            input{
              border-radius: 0;
              &::placeholder{
                color: transparent;
              }
            }
            .input-group-btn{
              .btn-primary{
                color: $gray;
                background-color: $white;
                border-color: $gray;
                border-radius: 0;
                height: 34px;
              }
            }
          }
        }
      }
    }
    .navbar-collapse{
      background-color: $white;
      width: 100%;
      z-index: 3;
      .region-navigation-collapsible{
        display: flex;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        .nav > li > a{
          padding: 10px 10px;
          text-align: center;
        }
      }
    }
  }
}
#block-creativity{
  position: absolute;
  bottom: 300px;
  left: 500px;
  text-transform: uppercase;
  .field--name-body{
    display: flex;
    flex-direction: column;
    max-width: 330px;
    p:nth-child(1){
      font-size: 50px;
      color: $white;
      margin-bottom: -20px;
    }
    p:nth-child(2){
      font-size: 30px;
      color: $black;
      margin-bottom: -5px;
    }
    p:nth-child(3){
      font-size: $small;
      color: $blue;
    }
  }
}
@media screen and (max-width: 767px){
  .navbar-default .container .navbar-collapse .region-navigation-collapsible{
    flex-direction: column;
  }
  .navbar .logo{
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
}
